body{
  margin: 0;
  box-sizing: border-box;
  background-image: url(./images/V\ Bucks\ Png\ -\ Fortnite\ V\ Bucks\ PNG\ Transparent\ With\ Clear\ Background\ ID\ 172210\ _\ TopPNG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  padding: 2px 2px;
  width: 100%;
  max-width: 650px;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.267);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.267);
  animation: fadein 2s linear;
}
@keyframes fadein{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.container img{
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  animation: fadein 2s linear;
}
.content{
  background: #1f043d60;
  backdrop-filter: blur(5px);
  margin-top: -1.6rem;
  height: 200px;
  color: #fafafa;
  border-radius: 0 0 2rem 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content h1{
  color: aliceblue;
  filter: drop-shadow(2px 2px 2px rgb(83, 78, 78));
  text-align: center;
  padding-top: 1rem;
}
.content p{
  color: #a9c4e2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.cta-button{
  background-color: rgb(253, 253, 253);
  color: #320b5f;
  text-decoration: none;
  padding: .4rem 4rem;
  border: 1px solid #a9c4e2;
  border-radius: .3rem;
  transition: background .3s ease;
  animation: pump 2s linear infinite;
}
.cta-button:hover{
  background-color: #1f043d;
  color: white;
}
@keyframes pump{
  0% {
    padding: .4rem 1rem;
    opacity: 0;
}
50% {
    padding: .4rem 2rem;
    opacity: 1;
}
100% {
    padding: .4rem 1rem;
    opacity: 1;
}
}



@media (max-width: 768px){
  .container{
  }
  h1{
    font-size: 1.6rem;
  }
  .cta-button{
    font-size: 1rem;
    padding: 20px 30px;
    margin: 2rem; 
  }
  @media (max-width: 480px){
    h1{
      font-size: 1.4rem;
    }
    p{
      font-size: 0.95rem;
    }
    .cta-button{
      font-size: 0.95;
      padding: 10px 8px;
      margin: -3rem; 
  }
}